/*FUENTES*/

@font-face {
  font-family: "TrebuchetMS";
  src: url("../fonts/TrebuchetMS.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url("../fonts/websymbols-regular-webfont.eot");
  src: url("../fonts/websymbols-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/websymbols-regular-webfont.woff") format("woff"),
    url("../fonts/websymbols-regular-webfont.ttf") format("truetype"),
    url("../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

.wrap {
  width: 1250px;
  margin: 0px auto;
}

.gear,
.icon {
  font-family: "WebSymbolsRegular";
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-container {
  width: 100%;
  height: 80px;
  background-color: #1f2326 !important;
  font-family: BebasNeue;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 120px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}

.logo-container {
  padding:10px;
  margin-left: 20px;
  color:black;
  text-shadow: 1px 1px 0px #ccc;
  text-transform: uppercase;
}
.logo-container h1 {
  color: aqua;
}

.sidebar {
  display: flex;
  color: aqua;
  width: 10%;
  height: auto;
  background-color: #1f2326;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 15px;
}

a {
  text-decoration: none;
}

.root {
  margin: 3vw;
}

.message,
.defaultPaper {
  text-align: center;
  color: rgba(0, 0, 0, 0.54) !important;
}

.paper {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.defaultPaper {
  padding: 15px;
}

.title {
  font-size: 25px;
}

.buttonPrimary,
.progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonPrimary,
.message,
.progressBar {
  margin: 10px;
}

.MuiTextField-root {
  width: 100%;
}

@media (max-width: 323px) {
  h1 {
    display: none;
  }
}
